# Firebase Config - Copy this to .env and fill real keys
VITE_FIREBASE_API_KEY=AIzaSyD-nmxtWHoOuUOREljPZb4LIyZHmZL6E5c
VITE_FIREBASE_AUTH_DOMAIN=gju-classmate.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gju-classmate
VITE_FIREBASE_STORAGE_BUCKET=gju-classmate.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=423960686089
VITE_FIREBASE_APP_ID=1:423960686089:web:0074bd6c8f34bd021b92d8
